.page {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.page-wrap {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.page-center {
    width: calc(100% - 605px);
    height: calc(100vh - 50px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include scroll-hide;
}

.page-right {
    width: calc(100% - 280px);
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px);
    @include scroll-hide;
    overflow-y: auto;

    &.page-right--small {
        max-width: 880px;
        margin-right: auto;
        margin-left: 40px;
        height: auto;
    }
}