.select {
    position: relative;
    width: 100%;
}

.select__top {
    display: block;
    width: 100%;
    height: 50px;

    position: relative;

    &::before {
        content: '';
        width: 10px;
        height: 8px;

        background-image: url("../img/triangle.svg");
        background-repeat: no-repeat;
        background-size: 100% 100%;

        position: absolute;
        top: 22px;
        right: 20px;

        transition: .2s linear;
    }

    &.active::before {
        transform: rotateX(180deg);
    }
}

.select__main-input {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    cursor: pointer;
    background: #1D1F25;
    border: 1px solid #3C4254;
    border-radius: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #fff;

    &::placeholder {
        color: #757B8C;
    }
}

.select__content {
    padding: 0;
    max-height: 0;

    transition: .2s linear;

    &.active {
        max-height: 237px;
        padding: 7.5px 0;
        z-index: 20;
        border: 1px solid #3C4254;

        @media(max-width:767px) {
            max-height: 187px;
        }
    }

    overflow: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    right: 0;
    z-index: 10;

    background: #1D1F25;
    border: 1px solid #3c425400;
    border-radius: 10px;
}

.select__content-item {
    display: block;
    cursor: pointer;
    padding: 12px 15px;

    transition: .2s linear;

    @media(min-width:1024px) {
        &:hover {
            background-color: #CDDEF0;

            .select__content-name {
                color: #000;
            }
        }
    }
}

.select__content-input {
    display: none;

    &:checked+.select__content-box {
        .select__content-name {
            font-weight: 600;
            color: rgb(152, 152, 152);
        }
    }
}

.select__content-box {
    display: flex;
    align-items: center;
}

.select__content-img {
    width: 21px;
    height: 21px;
    margin-right: 15px;
}

.select__content-name {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    transition: .2s linear;
}