.table {
    margin-top: 25px;
    background: #1E1F25;
    border-radius: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    min-height: 348px;

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar {
        height: 10px;
        width: 5px;
        background-color: rgba(140, 140, 140, 0);
    }

    &::-webkit-scrollbar-thumb {
        background: #246CF9;
        border-radius: 6px;
    }
}

.table-mob {
    min-width: 100%;
}



.table-row {
    padding: 20px 25px;
    display: grid;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;

    &:nth-child(odd) {
        background: #282c388b;
    }
}

.table-h {
    height: calc(100% - 120px);

    .table-wrap {
        max-height: calc(100% - 60px);
    }
}

.table-main {
    .table-row {
        grid-template-columns: 80px 90px 80px 90px 60px 120px;
    }
}

.table-logs {
    .table-row {
        grid-template-columns: 80px 95px 60px 80px 90px 150px 140px;
    }
}

.table-active-members {
    .table-row {
        grid-template-columns: 80px 95px 90px 100px 140px 130px 140px;
    }
}

.table-sms {
    .table-row {
        grid-template-columns: 80px 110px 180px 80px 140px;
    }

    .table-wrap {
        max-height: inherit;
    }
}

.table-accruals {
    .table-row {
        grid-template-columns: 80px 80px 100px 90px 140px;
    }
}

.table-domains {
    margin-top: 15px;

    .table-row {
        grid-template-columns: 90px 80px 90px 90px 170px 30px;
    }

    .table-row {
        padding: 15px 65px 15px 25px;
    }

    .table-row--title {
        padding: 20px 65px 20px 25px;
    }
}

.add-domain {
    width: 210px;
    margin-left: auto;
}

.settings-btn {
    background: #246CF9;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    position: relative;
    transition: all 0.3s ease-in-out;

    &::before {
        content: '';
        position: absolute;
        background-image: url('../img/settings.svg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 14px;
        height: 14px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    @media(any-hover: hover) {
        &:hover {
            background: #4a84f8;
        }


    }
}

.table-settings {
    min-height: unset;
    max-height: 574px;
    height: 100%;

    .table-wrap {
        max-height: 519px;
    }

    .table-row {
        grid-template-columns: 80px 140px;
        padding-right: 110px;
        padding-left: 116px;
    }
}

.table-row--title {
    background: #1E1F25 !important;
    border-radius: 20px 20px 0 0;
}

.table-item-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-align: left;
    width: fit-content;
    position: relative;
    padding-right: 20px;

    @media(any-hover: hover) {
        &:hover {
            &::before {
                filter: brightness(2);
            }
        }
    }

    &::before {
        content: '';
        position: absolute;
        background-image: url('../img/table-title-icon.svg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 7px;
        height: 15px;
        right: 7px;
        top: 1px;
        transition: all 0.3s ease-in-out;
    }
}

.table-item {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #757B8C;

    &.text-center {
        text-align: center;
        padding-right: 25px;
    }

    &.green-text {
        color: #03F438;
    }

    &.yellow-text {
        color: #EBFF00;
    }

    &.red-text {
        color: #FF0000;
    }
}

.table-wrap {
    max-height: 300px;
    overflow-y: auto;
    @include list-scroll;
    overflow-x: hidden;
    width: fit-content;
    min-width: 100%;

    &::-webkit-scrollbar {
        width: 2px;
    }
}