<div class="nav-block">
    <div class="nav-block-wrap">
        <a href="#" class="logo">
            <img loading="lazy" src="img/logo.svg" alt="img">
        </a>
        <a href="#" class="nav-item active">
            <svg class="nav-item__icon">
                <use xlink:href="img/sprite.svg#nav-item__icon"></use>
            </svg>
            Dashboard
        </a>
        <a href="#" class="nav-item">
            <svg class="nav-item__icon">
                <use xlink:href="img/sprite.svg#nav-item__icon2"></use>
            </svg>
            Log’s
        </a>
        <a href="#" class="nav-item">
            <svg class="nav-item__icon">
                <use xlink:href="img/sprite.svg#nav-item__icon3"></use>
            </svg>
            Active stealers
        </a>
        <a href="#" class="nav-item">
            <svg class="nav-item__icon">
                <use xlink:href="img/sprite.svg#nav-item__icon4"></use>
            </svg>
            SMS
        </a>
        <a href="#" class="nav-item">
            <svg class="nav-item__icon">
                <use xlink:href="img/sprite.svg#nav-item__icon5"></use>
            </svg>
            Accruals
        </a>
        <div class="nav-block-category">
            <div class="nav-block-category__title">
                Domains
            </div>
            <a href="#" class="nav-item">
                <svg class="nav-item__icon">
                    <use xlink:href="img/sprite.svg#nav-item__icon6"></use>
                </svg>
                Web3
            </a>
            <a href="#" class="nav-item">
                <svg class="nav-item__icon">
                    <use xlink:href="img/sprite.svg#nav-item__icon6"></use>
                </svg>
                Stealers
            </a>
        </div>
        <div class="nav-block-category">
            <div class="nav-block-category__title">
                Account
            </div>
            <a href="#" class="nav-item">
                <svg class="nav-item__icon">
                    <use xlink:href="img/sprite.svg#nav-item__icon7"></use>
                </svg>
                Settings
            </a>
            <div class="lang">
                <div class="lang-item lang-active">
                    <svg class="nav-item__icon">
                        <use xlink:href="img/sprite.svg#nav-item__icon8"></use>
                    </svg>
                    Eng
                </div>
                <div class="lang-list">
                    <div>
                        <a href="#" class="lang-item">
                            Ru
                        </a>
                        <a href="#" class="lang-item">
                            Ukr
                        </a>
                    </div>
                </div>
            </div>
            <a href="#" class="nav-item">
                <svg class="nav-item__icon">
                    <use xlink:href="img/sprite.svg#nav-item__icon9"></use>
                </svg>
                Exit
            </a>
        </div>
        <div class="nav-block-profile">
            <div class="nav-block-profile__icon">
                <img src="img/nav-block-profile-icon.png" alt="img">
            </div>
            <div class="nav-block-profile__info">
                <div class="nav-block-profile__name">
                    Adam Simpson
                </div>
                <div class="nav-block-profile__mail">
                    Simpson2@mail.com
                </div>
            </div>
            <button class="nav-block-profile__btn"></button>
        </div>
    </div>
</div>